server:
  port: ${SERVER_PORT:8085}

spring:
  application:
    name: recommendation

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
  info:
    env:
      enabled: true
    build:
      enabled: true
    git:
      enabled: true

app:
  aws:
    region: ap-northeast-1
  dynamodb:
    table-name: recommendation

logging:
  level:
    root: INFO
    com.yiduochens: INFO

info:
  app:
    name: recommendation
    version: 0.1.0
    stage: mvp
