name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test-and-docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      # Make Maven Wrapper executable on Linux runner (important)
      - name: Make mvnw executable
        run: chmod +x mvnw

      - name: Build and test with Maven Wrapper
        run: ./mvnw -B clean verify

      # Build Docker image (no push yet)
      - name: Build Docker image
        run: |
          docker build \
            -t recommendation-service:${{ github.sha }} \
            -t recommendation-service:ci \
            .
